In [ ]:
pip install pandas

In [2]:
data = pd.read_csv('final_project_data.csv')

In [15]:
questions = ['fi1','fi2','fi3','fi4','td1','td2','td3','td4','td5','he1','he2','he3','he4','pwt1','pwt2','pwt3']

In [5]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 459 entries, 0 to 458
Data columns (total 68 columns):
user_id                     459 non-null int64
agree_button                459 non-null bool
filler_group                459 non-null object
agree_button_time           459 non-null object
origin_device               451 non-null object
experiment_device           459 non-null object
Is_Filler                   459 non-null int64
Is_Rel                      370 non-null float64
Is_Inter                    370 non-null float64
Required_to_Switch          459 non-null int64
experiment_device_factor    459 non-null int64
load_flight_list            459 non-null bool
fi1                         459 non-null int64
fi2                         459 non-null int64
fi3                         459 non-null int64
fi4                         459 non-null int64
Sum_FI                      459 non-null int64
td1                         459 non-null int64
td2                         459 non-null int64
td3                         459 non-null int64
td4                         459 non-null int64
td5                         459 non-null int64
Sum_TD                      459 non-null int64
he1                         459 non-null int64
he2                         459 non-null int64
he3                         459 non-null int64
he4                         459 non-null int64
Sum_HE                      459 non-null int64
pwt1                        459 non-null int64
pwt2                        459 non-null int64
pwt3                        459 non-null int64
Sum_PWT                     459 non-null int64
aa1                         459 non-null int64
aa2                         459 non-null int64
aa3                         459 non-null int64
aa4                         459 non-null int64
aa5                         459 non-null int64
ca1                         459 non-null int64
ca2                         459 non-null int64
ca3                         459 non-null int64
ca4                         459 non-null int64
ui1                         459 non-null int64
ui2                         459 non-null int64
ui3                         459 non-null int64
gender                      459 non-null object
gender_calc                 459 non-null int64
age_group                   459 non-null int64
education_level             459 non-null object
education_level_calc        459 non-null object
device_type                 459 non-null object
device_type_calc            459 non-null int64
open_close_space            459 non-null int64
private_public_space        459 non-null int64
large_small_space           459 non-null int64
noisy_quiet_space           459 non-null int64
dark_bright_space           459 non-null int64
crowded_space               459 non-null int64
pwt_time                    459 non-null object
controls_time               459 non-null object
exit_time                   459 non-null object
flight_list_time            459 non-null object
pc_hours_calc               459 non-null object
pc_hours                    459 non-null object
mobile_hours_calc           459 non-null object
mobile_hours                459 non-null object
online_flights_calc         459 non-null object
online_flights              459 non-null object
traffic_origin              364 non-null object
dtypes: bool(2), float64(2), int64(45), object(19)
memory usage: 203.5+ KB
None

In [26]:
rows_list = []
for q in questions:
    for row in data.iterrows():
        new_row = {}
        new_row['user_id'] = row[1]['user_id'];
        new_row['question'] = q
        new_row['answer'] = row[1][q]
        new_row['experiment_device'] = row[1]['experiment_device']
        new_row['Is_Filler'] = row[1]['Is_Filler']
        new_row['Is_Inter'] = row[1]['Is_Inter']
        new_row['Is_Rel'] = row[1]['Is_Rel']
        new_row['Required_to_Switch'] = row[1]['Required_to_Switch']
        new_row['gender'] = row[1]['gender']
        new_row['age_group'] = row[1]['age_group']
        new_row['education_level'] = row[1]['education_level_calc']
        new_row['device_type_calc'] = row[1]['device_type_calc']
        new_row['open_close_space'] = row[1]['open_close_space']
        new_row['private_public_space'] = row[1]['private_public_space']
        new_row['large_small_space'] = row[1]['large_small_space']
        new_row['noisy_quiet_space'] = row[1]['noisy_quiet_space']
        new_row['dark_bright_space'] = row[1]['dark_bright_space']
        new_row['crowded_space'] = row[1]['crowded_space']
        new_row['pc_hours'] = row[1]['pc_hours_calc']
        new_row['mobile_hours'] = row[1]['mobile_hours_calc']
        new_row['online_flights'] = row[1]['online_flights_calc']
        rows_list.append(new_row)

glmm_data = pd.DataFrame(rows_list)    
display(glmm_data)

,Is_Filler,Is_Inter,Is_Rel,Required_to_Switch,age_group,answer,crowded_space,dark_bright_space,device_type_calc,education_level,...,gender,large_small_space,mobile_hours,noisy_quiet_space,online_flights,open_close_space,pc_hours,private_public_space,question,user_id
0,0,NaN,NaN,0,54,7,1,1,1,Masters Degree,...,Male,2,0,2,0,1,More Than 7,1,fi1,690847
1,1,0.0,1.0,0,32,7,4,6,1,Bachelors Degree,...,Male,7,1 to 3,7,0,7,More Than 7,6,fi1,603509
2,0,NaN,NaN,0,26,3,3,4,1,Bachelors Degree,...,Female,5,More Than 7,6,0,3,4 to 6,4,fi1,660712
3,1,0.0,0.0,0,35,4,5,3,1,Bachelors Degree,...,Male,4,1 to 3,5,0,4,More Than 7,5,fi1,155136
4,1,0.0,0.0,0,26,3,4,7,1,Bachelors Degree,...,Female,5,More Than 7,6,0,3,4 to 6,4,fi1,889208
5,1,0.0,1.0,1,25,2,5,7,1,Bachelors Degree,...,Female,5,4 to 6,5,0,3,1 to 3,4,fi1,228943
6,1,0.0,1.0,1,25,5,3,5,1,Bachelors Degree,...,Male,4,More Than 7,3,0,3,4 to 6,2,fi1,649247
7,1,0.0,1.0,0,25,4,6,3,1,Bachelors Degree,...,Male,3,More Than 7,5,0,3,1 to 3,5,fi1,464336
8,1,1.0,0.0,1,26,1,5,4,1,Bachelors Degree,...,Male,3,1 to 3,2,0,1,1 to 3,4,fi1,382195
9,1,1.0,1.0,0,36,7,5,7,1,Bachelors Degree,...,Male,5,1 to 3,6,0,7,1 to 3,4,fi1,829664
10,0,NaN,NaN,1,33,1,4,4,1,Bachelors Degree,...,Male,3,1 to 3,4,0,1,4 to 6,6,fi1,953591
11,1,0.0,1.0,1,27,1,4,5,1,Bachelors Degree,...,Male,5,1 to 3,3,0,1,1 to 3,6,fi1,779093
12,1,1.0,0.0,1,40,1,7,6,1,Bachelors Degree,...,Male,7,1 to 3,6,0,7,4 to 6,6,fi1,371234
13,0,NaN,NaN,0,18,5,2,2,2,Technical,...,Male,5,1 to 3,4,0,7,1 to 3,1,fi1,670488
14,1,0.0,1.0,0,30,6,1,4,2,Bachelors Degree,...,Female,4,1 to 3,2,0,2,1 to 3,1,fi1,171361
15,1,1.0,1.0,0,23,6,1,4,2,Bachelors Degree,...,Male,1,1 to 3,1,0,1,4 to 6,1,fi1,919550
16,1,0.0,1.0,0,30,7,4,4,2,Bachelors Degree,...,Male,4,1 to 3,5,0,4,More Than 7,5,fi1,164058
17,1,1.0,0.0,0,30,5,4,3,2,High School,...,Male,4,More Than 7,3,0,3,1 to 3,3,fi1,602602
18,1,1.0,1.0,0,21,4,1,3,2,High School,...,Male,5,1 to 3,2,0,7,4 to 6,1,fi1,274043
19,1,0.0,1.0,1,18,2,2,3,2,High School,...,Male,5,4 to 6,2,0,1,4 to 6,1,fi1,235451
20,1,1.0,1.0,0,28,5,2,4,3,Bachelors Degree,...,Female,4,1 to 3,2,0,2,4 to 6,2,fi1,206323
21,1,0.0,1.0,0,26,1,1,5,3,Bachelors Degree,...,Male,4,0,1,0,1,More Than 7,1,fi1,145462
22,1,1.0,0.0,0,33,1,2,6,4,Bachelors Degree,...,Male,2,0,4,0,1,4 to 6,1,fi1,390130
23,0,NaN,NaN,1,26,5,1,3,4,High School,...,Male,3,1 to 3,1,0,2,4 to 6,1,fi1,691483
24,0,NaN,NaN,0,30,6,6,4,1,Bachelors Degree,...,Male,5,1 to 3,3,1 to 3,5,1 to 3,3,fi1,153124
25,0,NaN,NaN,0,58,7,7,7,1,Bachelors Degree,...,Male,7,1 to 3,7,1 to 3,7,1 to 3,7,fi1,674312
26,0,NaN,NaN,0,33,6,6,6,1,Masters Degree,...,Female,6,4 to 6,7,1 to 3,4,More Than 7,6,fi1,672906
27,0,NaN,NaN,0,54,1,2,1,1,Bachelors Degree,...,Male,2,1 to 3,3,1 to 3,1,1 to 3,1,fi1,633481
28,0,NaN,NaN,0,33,6,6,5,1,Bachelors Degree,...,Male,5,More Than 7,6,1 to 3,5,4 to 6,4,fi1,743857
29,0,NaN,NaN,0,34,6,6,5,1,Bachelors Degree,...,Male,5,1 to 3,4,1 to 3,5,1 to 3,6,fi1,613290
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7314,1,1.0,0.0,0,28,2,1,5,3,Masters Degree,...,Male,3,1 to 3,1,More Than 10,2,1 to 3,1,pwt3,751112
7315,1,1.0,0.0,0,35,5,1,2,3,Bachelors Degree,...,Male,6,4 to 6,2,More Than 10,2,4 to 6,1,pwt3,725394
7316,1,1.0,1.0,0,30,4,2,6,3,High School,...,Male,5,More Than 7,2,More Than 10,7,4 to 6,7,pwt3,478815
7317,0,NaN,NaN,0,33,2,1,4,3,Bachelors Degree,...,Female,2,4 to 6,1,More Than 10,2,1 to 3,1,pwt3,887189
7318,1,0.0,0.0,0,32,5,2,2,3,Bachelors Degree,...,Female,5,1 to 3,2,More Than 10,6,4 to 6,2,pwt3,279790
7319,1,0.0,1.0,1,30,6,5,1,3,Bachelors Degree,...,Female,7,1 to 3,7,More Than 10,7,1 to 3,5,pwt3,662343
7320,1,1.0,0.0,1,33,3,1,1,3,Bachelors Degree,...,Male,4,1 to 3,1,More Than 10,1,1 to 3,1,pwt3,835902
7321,0,NaN,NaN,1,28,2,1,4,3,Masters Degree,...,Male,3,1 to 3,2,More Than 10,1,1 to 3,1,pwt3,709498
7322,0,NaN,NaN,1,30,6,1,1,3,High School,...,Male,1,More Than 7,1,More Than 10,4,1 to 3,1,pwt3,391371
7323,1,0.0,0.0,1,28,2,1,4,3,Masters Degree,...,Male,3,1 to 3,1,More Than 10,1,1 to 3,1,pwt3,271478
7324,1,0.0,1.0,1,30,3,1,4,3,Masters Degree,...,Male,1,4 to 6,3,More Than 10,1,4 to 6,1,pwt3,680096
7325,1,1.0,0.0,1,24,5,3,2,3,Masters Degree,...,Female,5,1 to 3,2,More Than 10,1,More Than 7,4,pwt3,533999
7326,1,1.0,0.0,0,30,6,2,4,3,Bachelors Degree,...,Male,4,1 to 3,3,More Than 10,2,4 to 6,1,pwt3,402781
7327,1,1.0,1.0,1,32,5,1,2,3,Bachelors Degree,...,Male,3,1 to 3,1,More Than 10,1,1 to 3,1,pwt3,673321
7328,1,1.0,1.0,1,29,6,5,6,3,High School,...,Male,6,4 to 6,6,More Than 10,6,More Than 7,6,pwt3,998560
7329,1,1.0,1.0,0,33,6,2,2,4,Bachelors Degree,...,Male,2,More Than 7,2,More Than 10,2,More Than 7,2,pwt3,177998
7330,1,1.0,1.0,0,54,1,1,3,4,Masters Degree,...,Male,3,1 to 3,3,More Than 10,3,More Than 7,2,pwt3,335993
7331,0,NaN,NaN,0,32,2,1,6,4,Masters Degree,...,Male,3,More Than 7,3,More Than 10,1,1 to 3,1,pwt3,161950
7332,1,0.0,1.0,0,27,6,2,2,4,Bachelors Degree,...,Male,6,1 to 3,2,More Than 10,5,1 to 3,2,pwt3,584275
7333,1,1.0,1.0,0,28,7,1,1,4,Bachelors Degree,...,Female,7,More Than 7,1,More Than 10,2,More Than 7,2,pwt3,787265
7334,0,NaN,NaN,1,34,2,3,2,4,Bachelors Degree,...,Male,2,4 to 6,1,More Than 10,1,4 to 6,1,pwt3,814528
7335,1,0.0,0.0,1,33,7,1,1,4,Bachelors Degree,...,Male,7,More Than 7,1,More Than 10,1,More Than 7,1,pwt3,703756
7336,1,1.0,0.0,1,33,7,1,1,4,Bachelors Degree,...,Male,7,More Than 7,1,More Than 10,1,More Than 7,1,pwt3,357665
7337,1,1.0,0.0,1,30,6,3,1,4,Masters Degree,...,Male,4,More Than 7,2,More Than 10,1,More Than 7,1,pwt3,604937
7338,1,1.0,1.0,1,31,4,1,1,4,Bachelors Degree,...,Male,3,1 to 3,2,More Than 10,3,1 to 3,1,pwt3,121273
7339,1,0.0,0.0,1,41,3,1,2,5,Bachelors Degree,...,Male,4,1 to 3,1,More Than 10,1,1 to 3,1,pwt3,190211
7340,1,0.0,0.0,1,28,7,1,1,5,Bachelors Degree,...,Female,7,4 to 6,1,More Than 10,7,More Than 7,1,pwt3,345451
7341,1,1.0,0.0,1,25,4,1,4,5,Bachelors Degree,...,Male,4,More Than 7,3,More Than 10,2,4 to 6,1,pwt3,825473
7342,1,1.0,0.0,1,40,3,2,2,5,Masters Degree,...,Male,5,1 to 3,2,More Than 10,4,1 to 3,2,pwt3,721681
7343,1,1.0,1.0,1,25,3,1,5,5,Bachelors Degree,...,Male,5,More Than 7,1,More Than 10,2,4 to 6,1,pwt3,916956

In [27]:
glmm_data.to_csv('data_for_glmm.csv', index = False)